<app-navbar></app-navbar>
<div class="contact">
<h2>Contact</h2>
<p>As this website is built out with more functionality and content, we will provide contact information here.</p>
<ul>
    <li><a href="http://brandonpardekooper.com/productivepastor/">Brandon Pardekooper's Personal Website</a></li>
    <li><a href="http://moderninklings.com/coach/">Modern Inklings Leadership Coaching</a></li>
</ul>


<div><p><small>In the future, this will be the page that will have links to helpful contacts as well as additional relevant information.</small></p></div>
<a class="nav-link" href="/signUp" routerLink="/signUp" routerLinkActive="active"><strong>Click here and let us get to know you!</strong></a>
</div>
