<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="home">Mind The Gap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"  href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
      </ul>
      </div>
  </nav>
<div class="about">
<h2>About</h2>
<p>Mind the Gap is the Brain Child of Brandon Pardekooper and Josh Eigsti.</p> 
<p><small>Website created by Josh Eigsti, River Bryant, Taylor Davis, and Ben Walker</small></p>
<a class="nav-link" href="/signUp" routerLink="/signUp" routerLinkActive="active"><strong>Lets find out who you are as a leader!</strong></a>
</div>

