app-navbar{
    position:sticky;
    width:100%;
}

.about{
    background-image: url("../../../assets/images/B4.JPG");
    background-repeat: no-repeat;
    background-position: initial;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    display:flex;
    text-align: center;
    flex-flow: column;
    align-items: center;
    
 
    
}
h3{
    color:black;
    font-weight: bolder;
    font-family: sans-serif 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana;
}
 p{
    color:black;
    font-size:15px ;
    font-weight: bolder;
    font-family: sans-serif 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana;
    
    
    
}
.about_container{
   
    padding-top:5em;
    width:60%;
    height: 50%;
    opacity:0.85;
    padding-bottom:4.5em;
    padding-left: 2em;
    padding-right: 2em;
    margin-top:20%;
    
   
   
}
 .about_content{
    background-color:lightgray;
    padding: 2em 1em;
    border-radius: 10px;

 }   
    
    
/* Mobile */
 /* Portrait and Landscape */
 @media only screen 
 and (max-device-width: 425px){
    .about{
        background-position: center;
        opacity:0.9;

    }
    .about_container{
        width:100%;
        padding-top: 12em;
        opacity:0.85;
        margin-top:15%;
        

    }

 }

 /* Portrait and Landscape TABLET */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1023px)
and (-webkit-min-device-pixel-ratio: 2){


    .about{
        background-position: center;
        opacity:0.9;
    }
    .about_container{
        width:75%;
        padding-top: 12em;
        margin-top:10%;

        
        

    }



}

 