<app-navbar></app-navbar>
<div class="about">
<h2>About</h2>
<div class="about_container">
<p>From the time I was old enough to understand leadership and working with a team, 
  I have thrived on the pursuit of working with high-powered leaders who are focused on changing the world. 
  My hope is you see yourself that way and you decide to lend your voice to the Mind The Gap community. 
  Over the last 20 years, I have dedicated myself to practicing the art of leadership and earning degrees in <strong>Biblical Studies,
   Youth Ministries, Organizational Leadership, 
   and Strategic Leadership Foresight</strong> in a pursuit to understand the most effective leadership approaches.
    Along with my education, I have held leadership positions as a pastor, university professor, and now as an entrepreneur.
     My goal has been to train extraordinary leaders to do great things. 
     For the last 10 years, that is exactly what I have been doing. Today,
      I dedicate my experience and education to building a community of like-minded people working toward a better cause.
       This is the premise Mind The Gap is built upon.
   </p> 
  </div>
<p><small>Website created by Josh Eigsti, River Bryant, Taylor Davis, and Ben Walker</small></p>
<a class="nav-link" href="/signUp" routerLink="/signUp" routerLinkActive="active"><strong>Let's find out who you are as a leader!</strong></a>
</div>

