.start{
display:flex;
justify-content: center;
margin-top: 1%;
margin-bottom: 1%;
}

.start a{
    border-radius: 3px;
}

.card{
    display:flex;
    justify-content: center;
    margin-top:1%;
    background-color: lightslategray;
    width:100%;
    flex-flow: wrap ;
    flex-direction: row;
    border-radius: 5px;
}

.card-text{
    border-radius: 10px;
    
}

.breakDown .card-header{
    box-shadow: 1px 2px grey;
    border-radius: 3px;
}

.header{
    border-radius: 3px;
    color:black;
    font-size: 30px;
    opacity:.5;
}

.results{
    width:31.5%;
    margin-right:2%;
    display:flex;
}


#one #result {
    font-size: 1.59em;
    padding: 2.5em .25em 2em .25em;
    text-align: center;
    vertical-align: middle;
}

#three p{
    font-size: 1.59em;
    padding: 2.5em .25em 2em .25em;
    text-align: center;
    vertical-align: middle;
}

#four p {
    font-size: 1.59em;
    padding: 2.5em .25em 2em .25em;
    text-align: center;
    vertical-align: middle;
}

#result {
    font-size: 2em;
    padding: 3em .25em 2em .25em;
    text-align: center;
    vertical-align: middle;
}

.breakDown{
    width:31.5%;
    display:flex;
}

.breakDown p {
    font-size: 1.25em; 
}

.breakDown #one p {
    font-size: 1.49em;
    padding: 2em .25em .25em .25em;
}
.breakDown .header{
    color: white;
    font-size: 28px;
}
.next #one p {
    font-size: 1.3em;
    font-weight: 700;
    text-align: center;
    color: black;
}

.next #four p {
    font-size: 1.em;
    font-weight: 800;
    text-align: center;
    color: black;
}
.next #four li {
    text-align: left;
    font-size: 1.3em;
    padding: .2em;
    font-weight: 650;
    color: black;
}

.next #next p {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    color: black;
}

#next li {
    font-size: 1.5em;
    color: rgb(48, 47, 47);
}

h4 {
    font-weight: 900;
    padding: .09em;
}

#testimony p {
    font-size: 1.1em;
    font-weight: 400;
    text-align: center;
}

#testimony h4 {
    font-weight: 900;
    padding: .09em;
}

p a{
    color: maroon;
}


.testimony{
    align-items: center;
    background-color: lightslategray;
}

.results .card-text{
    padding-bottom:39%;
}
   
/* Mobile */
 /* Portrait and Landscape */
 @media only screen 
 and (max-device-width: 425px){
    
    .card{
         flex-direction: column;
    }

    .breakDown{
        margin-top: 0em;
        width:100%;
    }

   .results .header{
    visibility: hidden;
   }

   .breakDown .header{
    visibility: hidden;
   }

   .next .header{
    visibility: hidden;
   }

   .results .card-text{
    padding-bottom:10%;
    }

    .results{
        width:100%;
        margin-right:0%;
    }
}
   
/* Portrait and Landscape TABLET */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1023px)
and (-webkit-min-device-pixel-ratio: 2){

    .card{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .results{
        width:90%;
        margin-top:1%;
    }

    .breakDown{
        width:90%;
        margin-top: 0em;
    }

    .results .header{
        visibility: hidden;
    }

    .breakDown .header{
        visibility: hidden;
    }

    .next .header{
        visibility: hidden;
       }
       .results .card-text{
        padding-bottom:10%;
    
    }

    .next, .testimony{
        padding: 0% 5%;
    }

    .results{
        margin-right:0%;
    }
}
/*Desktop*/
@media only screen  and (min-width : 1024px){
    
    .breakDown, .results{
        width:47.5%;
    }
}
 
/* Large Screens */
@media only screen  and (min-width : 1440px){
    
    .breakDown, .results{
        width:33.5%;
    }
}

/*4k*/
/* Large screens */
@media only screen  and (min-width : 1824px){

    .next{
        margin-right:1%;
        width:33.5%;
    }

    .testimony{
        margin-left:1%;
        width:33.5%;
    }





}
        