.breakDown{
    margin-top: 5em;
}
.card{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:2em;
    margin-right:2em;
    margin-top:2em;
}
    
/* Mobile */
 /* Portrait and Landscape */
 @media only screen 
 and (max-device-width: 425px){
    .card{
         flex-direction: column;
     }
    .breakDown{
        margin-top: 0em;
    }
 }
    
