<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">You're signed in!</h4>
    <p class="mb-0">This is your Dashboard. From here, you can access your profile, take an assessment, view your results, and find additional content. Have fun! <a href="#" class="alert-link"></a>.</p>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Mind The Gap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 
  </nav>
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="/home" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="/home" routerLink="/home" routerLinkActive="active">Sign out</a>
    </li>
  
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Your Stuff</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">View Your Profile</a>
        <a class="dropdown-item" href="#">Take A Leadership Assessment</a>
        <a class="dropdown-item" href="#">View Your Assessment Results</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Additional Content</a>
      </div>
    </li>
  </ul>
  <div class="card">
  <div class="results">
  <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
    <div class="card-header">Assessment Results</div>
    <div class="card-body">
      <h4 class="card-title">Here are your results</h4>
      <p class="card-text">This will be used to display your assesment results.</p>
    </div>
  </div>
  </div>
  <div class="breakDown">
    <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
      <div class="card-header">Results broken down</div>
      <div class="card-body">
        <h4 class="card-title">The break down</h4>
        <p class="card-text">This is where the break down takes place.</p>
      </div>
    </div>
    </div>
    <div class="next">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">What's next</div>
        <div class="card-body">
          <h4 class="card-title">This is what's next</h4>
          <p class="card-text">Click me and see where we go.</p>
        </div>
      </div>
    </div>
  </div>
 