<app-user-navbar></app-user-navbar>
<div class="start">
  <a class="btn btn-primary" type="button" href="/assessments" routerLink="/assessments" routerLinkActive="active">Start The Assessment!</a>
</div>
<div class="card">
  <div class="results">
  <div class="card text-white bg-light mb-3" >
    <div class="card-body">
      <h4 class="card-title">Here Are Your Results:</h4>
      <p class="card-text">According to your responses, it appears you are at risk of burning out:(
      </p>
    </div>
    <div class="header">&#8594;</div>
  </div>
  </div>
  <div class="breakDown">
    <div class="card text-white bg-secondary mb-3" >
      <div class="card-body">
        <h4 class="card-title">The Break Down:</h4>
        <p class="card-text"> Have you noticed your productivity dropping off? Have you started avoiding spending time with people because they drain you? Burnout is becoming a pandemic among ministry leaders, and you may be at risk of becoming a statistic. Your joy is disappearing, your anger is rising, and your cynicism is starting to become palpable. As ministry leaders, we are always trying to keep up with the avalanche of tasks and issues that come our way every day. This is prime ground for becoming another statistic as a pastor who suffered burnout. 
        </p>
      </div>
      <div class="header">&#8595;</div>
    </div>
    </div>
    <div class="next">
      <div class="card text-white bg-warning mb-3" style="max-width: 62rem;">
        <div class="card-body">
          <h4 class="card-title">This Is What's Next:</h4>
          <p class="card-text"> Risking burnout is a common challenge of ministry leaders, so know you are not alone. Here are some steps you need to take to combat burnout:
            Learn to pace yourself: not everything needs to be done. Just because someone has an emergency doesn’t mean it needs to become your emergency. Focus on the things you need to and don’t take on more than you can handle.
            Delegate to others: Do not be afraid to hand things off to others and allow them to take some of the load. You do not need to do everything, and you shouldn’t. Hand things off to allow others to shine and live out their calling. 
            Take a vacation: If you haven’t taken one in awhile you are way overdue. If you just took a vacation, you need to take another one.
            Enroll in the <a href="http://brandonpardekooper.com/productivepastor/" target="_blank"> "Productive Pastor." </a> This will give you access to a proven 5 step productivity system, productivity coaching, and two courses to enhance your ministry leadership. 
            Consider <a href="http://moderninklings.com/coach/" target="_blank">Personal Coaching</a>  to help you combat potential burnout. With a customized process designed for your specific situation, this coaching process will turn your burnout into fulfillment in your ministry. 
            </p>
          </div>
          <div class="header">&#8595;</div>
        </div>
    </div>
  <div class="testimony">
<div class="card text-white bg-secondary mb-3" style="max-width: 62rem;">
  <div class="card-body">
    <h4 class="card-title">Testimonies:</h4>
    <p class="card-text">
      The Mind the Gap Assessment helps pastors like you gain clarity on the challenges they face so they can avoid burnout and reach their communities. 
Pastor, by taking this assessment, you will gain clarity on the area where you are most susceptible to hindering your ministry.
 Just as you visit your doctor to check for signs you may be running the risk of a heart attack, this assessment checks for signs where you and your ministry are susceptible.
  Mind the Gap is committed to giving pastors confidence by equipping them for ministry. 
      </p>
  </div>
</div>
</div>
</div>