<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Mind The Gap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 
  </nav>
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="/home" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="/home" (click)="onLogout()">Log Out</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="/profile/{{user._id}}" routerLink="/profile/{{user._id}}" routerLinkActive="active">Profile</a>
    </li>
  </ul>
