p {
    color:rosybrown; 
    padding-left: 50px;
}

form div { 
    color:black;
    text-align: center;
    padding-left: 35%;
    padding-right: 35%;
}
nav{
    margin-bottom: 5%;
}
input{
    border-radius: 5px;
}
#signUp{
    border-radius: 5px;
}
form{
    margin-bottom: 50px;
}

