p {
    color:rosybrown; 
    padding-left: 50px;
}

form div { 
    color:black;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}
nav{
    margin-bottom: 5%;
}
input{
    border-radius: 5px;
}
#signUp{
    border-radius: 5px;
}
form{
    margin-bottom: 50px;
}
.container{
    background-color: darkgray;
    width: 45%;
    border-radius: 10px;
    height: 75%;
    padding-bottom: 8px;
    padding-top:8px;
}
input::placeholder { 
    text-align: center;
}
label{
    font-weight: 900;
}
   


