<app-navbar></app-navbar>
  <div class="jumbotron">
    <h1 class="display-3">Welcome!</h1>
    <p class="lead"><i>Mind The Gap is an assessment tool designed to discover your leadership skills.</i></p>
    <hr class="my-4">
    <p>When the assessment has been completed, you'll be given information regarding your leadership strengths and weaknesses<br> in addition to more information on how you could grow in certain leadership aspects. </p>
    <p class="lead">
      <a id="test" class="btn btn-primary btn-lg"  role="button" href="/login" routerLink="/login" routerLinkActive="active">Take the test!</a>
    </p>
  </div>
 
  
