app-navbar{
    position: fixed;
    width:100%;  
}
.jumbotron{
background-image: url("../../../assets/images/gap.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    display:flex;
    text-align: center;
    flex-flow: column;
    align-items: center;
}
.display-3{
    font-weight: 300;
}

#hr{
    border-color: whitesmoke;
}

#test{
    border-radius: 5px;
}

h5{
    color:black;
    opacity: .85;
    font-weight: 600;
}

.landing{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing_content{
   width:55%;
   text-align: center;
}

.mtg{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pastor{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.strong_container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:2%;
}

.strong{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-top:1.5%;
    border-radius: 10px;
    width: 85%;
    align-items: center;
}

.strong_content{
    background-color:lightgrey;
    width:90%;
    border-radius: 10px;
    align-items: center;
    padding-top:1%;
    padding-right:5%; 
    margin-bottom: 3%;
    opacity: .65;
}

li{
    list-style-type: none;
    font-size: 10px;
    text-align: left;
}

i{
    font-size: 2em;
    color:black;
    font-weight: 600;
}

.jump{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:2em;
}

.jump_content{
    width:45%;
    text-align: center;
    
}
.jump_content h5{
    color:white;
}

.assessment{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:2em;
}


/* Mobile */
 /* Portrait and Landscape */
 @media only screen 
 and (max-device-width: 425px){

    .mtg_content{
    width:80%;
    text-align: center;
    }
    
    .mtg_content h2{
    font-size: 2.8em;
    }
    
    .pastor_content{
    width:80%;
    }
    
    .pastor_content i{
    font-size: 1.4em;
    }
    
    .landing_content{
    width:90%;
    text-align: center;
    }
    
    .strong_content{
    width:90%;
    }
    
    .strong{
    width:90%;
    }
    
   .jump_content{
    width:80%;
    padding-top:1.5%;
    }

    #jumbo{
    padding-top:5em;
    }
}

/* Portrait and Landscape TABLET */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1023px)
and (-webkit-min-device-pixel-ratio: 2){

    .mtg_content h2{
        font-size:2.8em ;
    }

    .mtg_content{
        width:60%;
        text-align: center;
    }
    
    .pastor_content p{
        font-size: 1em;
    }

    .landing_content{
        width:75%;
    }

    .strong_content{
        margin-right:0em;
    }

    .strong{
        width:60%;
    }
}
/*Desktop*/
@media only screen  and (min-width : 1024px){
    
  
}

/* Large Screens */
@media only screen  and (min-width : 1440px){
    
    
}

/*4k*/
/* Large screens */
@media only screen  and (min-width : 1824px){

   
    
    .strong_content{
        padding-left:9%;
    }
    





}
        