<app-navbar></app-navbar>
<div class="jumbotron" id="jumbo">
  <div class="mtg">
    <div class="mtg_content">
      <h2 class="display-3">Welcome To Mind The Gap:</h2>
    </div>
  </div>
  <div class="pastor">
    <div class="pastor_content">
      <p class="lead"><i>A Healthy Pastor Checkup</i></p>
    </div>
  </div>
  <hr class="my-4" id="hr">
  <div class="strong_container">
    <div class="strong">
      <div class="strong_content">
        <div class="landing">
          <div class="landing_content">
            <h5>If you are like most pastors, you are constantly taking care of people,
              meeting their needs, listening to their difficulties, and providing spiritual guidance through life.
              If you are like most pastors, you also don’t spend enough time taking care of yourself.
              Taking care of yourself is at the end of the priority list because you are so busy serving others.
              Since this is a prevailing mindset in a lot of pastors, we have an increasing number of pastors struggling
              with
              depression, experiencing burnout, and even leaving the ministry.
              I don’t want that to happen to you, which is what led to the creation of this assessment. The Healthy
              Pastor
              Checkup asks you to identify the 10 statements that best describe you,
              and evaluates what hurdle is keeping you from experiencing the most in your ministry calling. The checkup
              seeks
              to reveal whether you run the risk of burnout,
              if you are struggling with loneliness, or if your level of training is sufficient for your current
              ministry
              situation.</h5>
          </div>
          <ul class="lead">
            <p><i>"I want you to fulfill your God-given calling."</i></p>
            <p><i>"I want you to serve your community well."</i></p>
            <p><i>"I do not want you to be a statistic."</i></p>
            <p><i>"I want you to be a healthy person so God can move through you effectively."</i></p>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="jump">
    <div class="jump_content">
      <h5>Jump in and take the Healthy Pastor Checkup, and let’s see how we can take your ministry to the next level
        without risking burnout.</h5>
    </div>
  </div>
  <div class="assessment">
    <p class="lead">
      <a id="test" class="btn btn-primary btn-lg" role="button" href="/login" routerLink="/login"
        routerLinkActive="active">Start Here!
      </a>
    </p>
  </div>
</div>