
<div style="padding:2em;">
    <p>admin-view works!</p>


  <div class="card">
    <div class="results">
        <div *ngFor="let response of responses">
          <div class="card text-white bg-success mb-3" style="max-width: 50rem; margin: 10px;">
              <div class="card-header">{{response.question_id}}</div>
            <div class="card-body">
              <h4 class="card-title">Response</h4>
              <p class="card-text">{{response.answer_option_id}}</p>
              <div class="center">
                <button class="status-btn">Not Started</button>
              </div>
            </div>
          </div>
          </div>
        </div>
    </div>
</div>

    