
<div style="padding:2em;">
    <p>admin-view works!</p>

<!-- 
  <div class="card">
    <div class="results">
        <div *ngFor="let response of responses">
          <div class="card text-white bg-success mb-3" style="max-width: 50rem; margin: 10px;">
              <div class="card-header">{{response.question_id}}</div>
            <div class="card-body">
              <h4 class="card-title">Response</h4>
              <p class="card-text">{{response.answer_option_id}}</p>
              <div class="center">
                <a [routerLink]= "['/assessments', assessments.user]" class="status-btn">See Responses</a>
              </div>
            </div>
          </div>
          </div>
        </div>
    </div> -->

    <div class="card">
      <div class="results">
        <div *ngFor="let assessment of assessments">
        <div class="card text-white bg-success mb-3" style="max-width: 50rem; margin: 10px;">
          <div class="card-header">{{assessment.title}}</div>
          <div class="card-body">
            <h4 class="card-title">Description</h4>
            <p class="card-text">{{assessment.description}}</p>
            <div class="center">
              <a [routerLink]="['/assessments', assessment.title]" class="status-btn">View Assessment</a>
            </div>
            <div *ngFor="let question of questions.assessment_id">
            <div class="right">
              <a routerLink="questions/{{questions.assessment_id}}" routerLinkActive="active" class="status-btn">View Questions</a>
            </div>
          </div>
          </div>
        </div>
      </div>
      </div>
    </div>

</div>




    