a.status-btn{
    padding: 5px;
    background-color: transparent;
    border: solid #FFF 1px; 
    border-radius: 5px;
    color: #FFF;
    text-decoration: none;
}

a.status-btn:hover{
    padding: 5px;
    border: solid #FFF 1px;
    background-color: #FFF;
    border-radius: 5px;
    color: #5cb85c;
    text-decoration: none;
}

.center{
    text-align: center;
}

.card {
    display: flex;
}
.results {
    display: flex;
    justify-content: space-around;

}

.assessment-card {
    display: flex;
    width: 30%;
    padding-right: 3em;
    padding-left: 3em;
    flex-direction: row;
}

