<app-user-navbar></app-user-navbar>

<!-- End of Navbar -->
<div style="padding:2em;">
    <h1>Available Assessments:</h1>


      <div class="card">
        <div class="results">
          <div *ngFor="let assessment of assessments">
          <div class="card text-white bg-success mb-3" style="max-width: 20rem; margin: 10px;">
            <div class="card-header">
              <h3>{{assessment.title}}</h3>
            </div>
            <div class="card-body">
              <h4 class="card-title">Description:</h4>
              <p class="card-text">{{assessment.description}}</p>
              <div class="center">
                <a [routerLink]="['/assessments', assessment.title]" class="status-btn">Not Started</a>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    



    <!-- <div class="container">
      <form (ngSubmit)="onSubmit()"> 
          <fieldset>
            <div class="form-group">
              <label for="exampleInputEmail1">Assessment Title</label>
              <input type="text" class="form-control" id="firstName" aria-describedby="firstName" placeholder="Enter First Name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Last Name</label>
              <input type="text" class="form-control" id="lastName" aria-describedby="lastName" placeholder="Enter Last Name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address:</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password:</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
            </div>
            <div>
              <button type="submit" id="signUp" class="btn btn-success">Sign Up!</button>
            </div>
          </fieldset>
      </form>
      </div>


    <app-assessments *ngFor="let question of Question" [question]="question"></app-assessments> -->


