form div { 
    color:black;
    text-align: center;
    padding-left: 35%;
    padding-right: 35%;
}
nav{
    margin-bottom: 5%;
}
.arrow{
    font-size: 30px;
    font-weight: 400;
}
 #login {
    border-radius: 5px;
}
input{
    border-radius: 5px;
}