.login_info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_info_content{
    font-family: sans-serif 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana;
    text-align: center;
    padding-top:2em;
    font-size: 1.1em;
}

form div { 
    color:black;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.arrow{
    font-size: 30px;
    font-weight: 400;
}

#login {
    border-radius: 5px;
}

input{
    border-radius: 5px;
}

.container{
    background-color: darkgray;
    width: 45%;
    border-radius: 10px;
    height: 75%;
    padding-top: 8px;
    padding-bottom:8px;
    margin-top:5%;
}

input::placeholder { 
    text-align: center;
}

label{
    font-weight: 900;
}

/* Mobile */
 /* Portrait and Landscape */
 @media only screen 
 and (max-device-width: 425px){

    .container{
    width:80%;
    }
}


