
form{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.userName{
    display:flex;
    display:block;
    padding-bottom: 1em;
}
.password{
    display:flex;
    display:block;
    padding-bottom: 1em;
}
.p{
    margin-left: .75em;
}
p{
    color:purple;
}