<app-navbar></app-navbar>
<div class="login_info">
  <div class="login_info_content">
    Please <strong>Log In</strong> to access your account:
  </div>
</div>
<div class="container">
<form (ngSubmit)="onSubmit()">
    <fieldset>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email" [(ngModel)]="model.email" name="email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password:</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password" [(ngModel)]="model.password" name="password">
      </div>
    </fieldset>
    <div>
        <button type="submit" id="login" class="btn btn-success" routerLink="/dashboard" routerLinkActive="active">Log in</button>
    </div>
    <div>
      Don't have an account?
    </div>
    <div class="arrow"> &#8609;</div>
    <div>
        <a class="btn" routerLink="/signUp" routerLinkActive="active">Sign Up</a>
    </div>
</form>
</div>
