<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">You're signed in!</h4>
    <p class="mb-0">This is your Dashboard. From here, you can access your profile, take an assessment, view your results, and find additional content. Have fun! <a href="#" class="alert-link"></a>.</p>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="#">Mind The Gap</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button> 
</nav>
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="/home" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="/home" routerLink="/home" routerLinkActive="active">Sign out</a>
    </li>
  
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Your Stuff</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">View Your Profile</a>
        <a class="dropdown-item" href="#">Take A Leadership Assessment</a>
        <a class="dropdown-item" href="#">View Your Assessment Results</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Additional Content</a>
      </div>
    </li>
  </ul>

  <!-- End of Logged in Navbar -->
<div style="padding:2em;">
    <p>assessment works!</p>

    <div class="container">
      <form (ngSubmit)="onSubmit()"> 
          <fieldset>
            <div class="form-group">
              <label for="exampleInputEmail1">Assessment Title</label>
              <input type="text" class="form-control" id="firstName" aria-describedby="firstName" placeholder="Enter First Name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Last Name</label>
              <input type="text" class="form-control" id="lastName" aria-describedby="lastName" placeholder="Enter Last Name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address:</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password:</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
            </div>
            <div>
              <button type="submit" id="signUp" class="btn btn-success">Sign Up!</button>
            </div>
          </fieldset>
      </form>
      </div>


    <app-assessments *ngFor="let question of Question" [question]="question"></app-assessments>

</div>


