<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Mind The Gap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 
  </nav>
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="/home" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="/home" routerLink="/home" routerLinkActive="active">Sign out</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="/dashboard" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    </li>
  </ul>
<div class="card mb-3">
    <h3 class="card-header">Your Profile</h3>
    <div class="card-body">
      <h6 class="card-subtitle text-muted">Current Information:</h6>
    </div>
    <div class="card-body">
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">First Name:</li>
      <li class="list-group-item">Last Name:</li>
      <li class="list-group-item">Email Address:</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link"></a>
    </div>
    <div class="card-footer text-muted">
        <a href="/profile_edit" routerLink="/profile_edit" routerLinkActive="active" class="card-link">Edit your information</a>
    </div>
  </div>
  