<app-user-navbar></app-user-navbar>
<div class="card mb-3">
    <h3 class="card-header">Your Profile</h3>
    <div class="card-body">
      <h6 class="card-subtitle text-muted">Current Information:</h6>
    </div>
    <div class="card-body">
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">First Name: {{model.first_name}}</li>
      <li class="list-group-item">Last Name: {{model.last_name}}</li>
      <li class="list-group-item">Email Address: {{model.email}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link"></a>
    </div>
    <div class="card-footer text-muted">
        <a href="/profile_edit" routerLink="/profile_edit" routerLinkActive="active" class="card-link">Edit your information</a>
    </div>
  </div>
  